<ion-list>

  <b>EXAMEN PRIMER PARCIAL</b>

  <ion-item>
    <ion-input label="ESTUDIANTE: " placeholder="Ingrese nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="MATERIA: " value="Aplicaciones Moviles"[readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Curso: " value="SIN-S-NO-6-6" [readonly]="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Contraseña: " type="password" value="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Calificación: " placeholder="Ingrese la calificacion"></ion-input>
  </ion-item>

</ion-list>